<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479750710585-gr36tddqt5th66mp3qmdo52nsobc46hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479750710585-gr36tddqt5th66mp3qmdo52nsobc46hf</string>
	<key>API_KEY</key>
	<string>AIzaSyBlLMDIe3ZJub5U1EiYboL1mAjt9uVP4tA</string>
	<key>GCM_SENDER_ID</key>
	<string>479750710585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mlflutter</string>
	<key>PROJECT_ID</key>
	<string>fluttermlkitgdc22</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttermlkitgdc22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479750710585:ios:b0ee1df2e119f84ba9b4e8</string>
</dict>
</plist>